h1 {
  font-size: 8rem;
  text-shadow: 2px 2px #ff0000;
}

body {
  text-align: center;
  background-image: url(./Flügel.jpg);
  background-position: center;
}

h2 {
  font-size: 2rem;
}

input {
  text-align: center;
  padding: 15px; /* zwischen abstände */
  color: rgb(10, 8, 8);
  background-color: rgb(17, 13, 13);
  box-shadow: 0px 17px 10px -7px rgb(255, 8, 0); /* Schatten */
  border: solid 3px;
  color: rgb(255, 255, 255); /* Rahmen */
  border-radius: 10px; /* Rahmen Größe */
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; /* Schrift Art */
  transition: ease-in all 300ms; /* Weiche bewegung */
}

input:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 30, 0);
  transform: translate(0px, -10px);
  box-shadow: 0px 30px 15px -10px rgba(0, 0, 0, 0, 2);
}
